---
import logo from "../icons/logo-animated-no-bg.svg";
---

<div id="titlebar">
  <img src={logo} alt="logo" class="logo" />
  <a href="/login" id="login-button-link"><button id="login-button">Sign up</button></a>
</div>

<style lang="scss">
  #titlebar {
    height: 6vmin;
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 0.5vh solid #181926;
    background-color: #1e2030;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;

    & > .logo {
      margin-left: 0.5%;
      height: 100%;
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      cursor: pointer;
    }
  }
  #login-button-link {
    margin-right: 1.5%;
    & > #login-button {
      white-space: nowrap;
      font-size: 1.25vmin;
      align-self: center;
      border-radius: 15px;
      padding: 10%;
      border: 3px solid #cad3f5;
      background-color: #1e2030;
      color: #cad3f5;
      cursor: pointer;

      &:active {
        transform: translateY(4px) !important;
      }

      &:hover {
        transform: translateY(2px);
      }
    }
  }
</style>
