---
import logo from "../icons/logo-animated-no-bg.svg"
import GenericButton from "../components/generics/GenericButton.astro"
---

<div id="titlebar">
  <img src={logo} alt="error" class="logo">
  <a href="/login" id="login-button-link"><GenericButton fontSize="1.5vh">Sign Up</GenericButton></a>
</div>

<style lang="scss">
  #titlebar {
    height: 6vmin;
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 0.5vh solid #181926;
    background-color: #1e2030;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
    
    &> .logo {
      margin-left: .5%;
      height: 100%;
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      cursor: pointer;
    }
  }
  #titlebar-title {
    margin-left: 5vw;
    font-size: 2rem;
    background: rgb(198,160,246);
    background: linear-gradient(90deg, rgb(198, 160, 246) 0%, rgb(237, 135, 150) 50%, rgb(238, 212, 159) 100%); 
    background-size: 250%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #login-button-link {
    
    &> button {
      size: 3px;
    }

    margin-left: auto;
    margin-right: 4vw;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
  }
</style>
