---
import logo from "../icons/logo-animated-no-bg.svg";
import GenericButton from "../components/generics/GenericButton.astro";
---

<div id="titlebar">
  <img src={logo} alt="error" class="logo" />
  <a href="/login" id="login-button-link"><GenericButton fontSize="1.5vh">Sign Up</GenericButton></a>
</div>

<style lang="scss">
  #titlebar {
    height: 5vh;
    position: relative;
    display: flex;
    width: 100%;
    border-bottom: 0.5vh solid #181926;
    background-color: #1e2030;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;

    & > .logo {
      margin-left: 0.5%;
      height: 100%;
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      cursor: pointer;
    }
  }
  #login-button-link {
    margin-right: min(28px, 2%);
  }
</style>
