.contact {
  font-size: clamp(1px, 85%, 5rem);
  height: 100%;
  min-width: 85%;
  width: 100%;
  background-color: #363a4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin: 0;
  }
}
