.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #363a4f;
  & > h1 {
    & > span {
      @for $i from 1 through 3 {
        $delay: $i * 0.25 + s;
        span:nth-child(#{$i}) {
          animation-delay: $delay;
        }
      }
      & > span {
        opacity: 0;
        animation: dots 3s infinite;
        -webkit-text-fill-color: #edc29d;
      }
    }
  }
}
@keyframes dots {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
