.popup-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  .popup-content {
    background-color: #363a4f;
    display: flex;
    width: 35%;
    height: 35%;

    & > div {
      height: 100% !important;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      & > strong {
        text-align: center;
      }
      & > p {
        text-align: center;
      }
      & > h2 {
        text-align: center;
      }
    }
  }
}
