body {
    color: #cad3f5;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0%;
}
.background {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: calc(1rem + .5vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.title {
    height: min(14.5vw, 14.5%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24273a;
    border-bottom: 0.5vh solid #181926;
}
h1 {
    background: rgb(198,160,246);
    background: linear-gradient(90deg, rgb(199, 160, 246) 0%, rgb(237,135,150) 50%, rgb(238,212,159) 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-color: text;
}
.content {
    display: flex;
    height: calc(99.5% - min(14.5vw , 14.5%));
    width: 100%;
}
.sidebar {
    flex-flow: column wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    min-width: 5%;
    width: 15%;
    background-color: #1e2030;
    font-size: clamp(.85rem, .95vw, 25px);
}
@media only screen and (max-width: 675px) {
    .sidebar{
        display: none;
    }
}
.sidebar-element { 
    cursor: pointer;
    text-align: center;
}
p {
    margin: 0px;
}
button {
    all: unset;
}