:root {
  --spacing-left: clamp(28px, 1.5vw, 55px);
  --spacing-top: clamp(4%, 4%, 35px);
}

.table-layout {
  font-size: clamp(1px, 85%, 5rem);
  height: 100%;
  min-width: 85%;
  width: 100%;
  background-color: #363a4f;
  position: relative;

  & > #filter-icon {
    position: absolute;
    margin: 3.5px;
    height: var(--spacing-top);
    width: var(--spacing-left);
    color: var(--text-color);
  }

  .table-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: var(--spacing-left);
    height: var(--spacing-top);
    width: calc(100% - var(--spacing-left));
    & > div {
      width: 100%;
    }
    span {
      text-align: center;
      width: 20%;
      font-size: clamp(0.55rem, 125%, 1vh);
    }
    span.highlighted {
      color: var(--highlight-red);
    }

    & > .select-class {
      height: 50%;
      & > form {
        display: flex;
        justify-content: center;
        align-items: center;
        & > select {
          cursor: pointer;
          padding-right: 1%;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid;
          border-image: var(--text-gradient) 1;
          color: var(--text-color);
          font-family: "Inter", sans-serif;
          font-size: clamp(0rem, 100%, 2vh);
        }
        & > select option {
          
          background-color: #24273a;
        }
      }
    }
  }
  .table-body {
    display: flex;
    width: 100%;
    height: calc(100% - var(--spacing-top) - 1px);

    .table-sidebar-left {
      position: relative;
      display: flex;
      height: 100%;
      width: var(--spacing-left);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      & > span.highlighted {
        color: var(--highlight-red);
      }
      span {
        text-align: center;

        div {
          font-size: 42.5%;
        }
      }
    }
    .table {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;

      & > .filter-background {
        position: absolute;
        z-index: 10;
        height: 100%;
        width: 100%;
        background-color: #00000088;

        display: flex;
        align-items: center;
        justify-content: center;

        & > .filter-content {
          background-color: #363a4f;
          position: relative;
          padding: 1% 7%;

          & > div > button {
            cursor: pointer;
          }

          & > form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            & > label {
              font-size: clamp(90%, 2vmin, 24px);
              position: relative;
              margin: 1.5% 0px;
              & > input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                z-index: 100;
                width: 25px;
                height: 25px;
                margin: 0px;

                &:checked + .checkbox {
                  background: var(--highlight-blue);
                }
                &:checked + .checkbox:after {
                  display: block;
                }
              }
              & > .checkbox {
                cursor: pointer;
                position: absolute;
                top: 13%;
                left: -10%;
                height: clamp(14px, 1.75vmin, 25px);
                width: clamp(14px, 1.75vmin, 25px);
                background-color: var(--text-color);

                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 31%;
                  top: 0%;
                  width: 27%;
                  height: 71%;
                  border: var(--text-color) solid;
                  border-width: 0 3px 3px 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }

      .bar {
        user-select: none;
        cursor: pointer;
        color: var(--text-color);
        font-size: clamp(7px, 2.75rem, 3.5vh);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        position: absolute;
        height: 100%;
      }
      .bar:active {
        transform: translateY(3px);
      }
      .bar-left {
        left: 0.5%;
        text-shadow: 1px 1px #5a6382;
      }
      .bar-right {
        right: 0.5%;
        text-shadow: -1px -1px #5a6382;
      }
      .table-day {
        background-color: transparent;
        height: 100%;
        width: 20%;
        max-width: 20%;
        display: grid;
        grid-template-rows: repeat(10, 10%);

        & > div {
          width: 100%;
          min-width: 0;
          max-width: 100%;
          height: 100%;
          .invisible {
            display: none;
          }
          .lesson {
            grid-column: span 1;
            overflow: hidden;
            border: 0.1px solid #363a4f;
            min-width: 0;
            width: 100%;
            height: 100%;
            margin: none;
            flex-wrap: wrap;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: var(--highlight-red);
            font-size: clamp(25%, 1.5vh, 20px);
            & > h2 {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              width: 100%;
              margin: 0;
              text-align: center;
              font-size: clamp(4px, 125%, 4vmin);
            }
            & > p {
              width: 100%;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              margin: 0;
            }
          }
        }
        .parent-grid {
          display: grid;
          grid-auto-flow: column dense;
          grid-auto-columns: 1fr;
          grid-template-rows: 1fr;
        }
        .parent-flex {
          display: flex;
          flex-direction: row;
          & > .sub-flex {
            display: flex;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
