.table-layout {
    height: 100%;
    min-width: 85%;
    background-color: #363a4f;
}
.table-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 1.7%;
    height: clamp(20px, 4%, 35px);
    width: 98.3%;
}
.table-body {
    display: flex;
    width: 100%;
    height: 96.9%;
}
.table-sidebar-left {
    position: relative;
    display: flex;
    height: 100%;
    width: max(1.75%, 2rem);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.table-sidebar-left > span {
    text-align: center;
}
.day {
    text-align: center;
    width: 20%;
    font-size: clamp(1rem, .95vw, 100px);
}
.table {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(10,10%);
}
.table > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 0.1vh);
    height: calc(100% - 0.1vh);
    background-color: rgb(228, 64, 64);
    font-size: clamp(1rem, calc(1rem + 1.2vw), 30px);
}