---
import LoginForm from '../components/LoginForm'

export interface Props {
  title: string
}

const {title} = Astro.props;
---

<html>
    <head>
        <title>{title}</title>
    </head>
    <body>
        <LoginForm client:load/>
    </body>
    <style>
        html {
            height: 100%;
            width: 100%;
            background-color: #181926;
        }
        body {
            height: 100%;
            width: 100%;
            margin: 0px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #login-page {
            position: relative;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
    <script>
        const username: HTMLInputElement = document.getElementById("username") as HTMLInputElement
        const password: HTMLInputElement = document.getElementById("password") as HTMLInputElement
        document.getElementById("submit")!.addEventListener('click', () => {
            alert(username.value + " " + password.value)
        })
    </script>
</html>