---
import "@fontsource/inter";
import "@fontsource/inter/700.css";
import CookieBanner from "../components/CookieBanner";
import favicon from "../icons/favicon.svg";
export interface Props {
  title: String;
}
const { title } = Astro.props;
---

<html lang="de">
  <head>
    <link rel="icon" href={favicon} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#1e2030" />
    <title>{title}</title>
  </head>
  <body>
    <CookieBanner client:load />
    <slot />
  </body>
  <!--style is:global>
    :root {
      --background-color: #24273a;
      --text-color: #cad3f5;
      --text-gradient: linear-gradient(
        90deg,
        rgba(198, 160, 246, 1) 0%,
        rgba(237, 135, 150, 1) 50%,
        rgba(238, 212, 159, 1) 100%
      );
      --highlight-blue: #5974e2;
      --highlight-red: #e44040;
    }
    ::selection {
      background: #1a1d2f;
      color: #b8c0e0;
    }
  </style -->
  <style is:global>
    :root {
      --background-color: #24273a;
      --text-color: #cad3f5;
      --text-gradient: linear-gradient(
        90deg,
        rgb(62 171 246) 0%,
        rgb(135 228 237) 50%,
        rgb(141 236 88) 100%
      );
      --highlight-blue: #1373f9;
      --highlight-red: #e44040;
      --highlight-green: #79e73d;
    }
    ::selection {
      background: #1a1d2f;
      color: #b8c0e0;
    }
  </style>
</html>
