---

---

<div class="background">
    <div class="title"><h1>TheScheduler</h1></div>
    <div class="content">
        <div class="sidebar">
            <p class="sidebar-element">Stundenplan</p>
            <p class="sidebar-element">Lernbüros</p>
            <p class="sidebar-element">Fehler</p>
            <p class="sidebar-element">Kontakt</p>
        </div>
        <slot>

        </slot>
    </div>
</div>

<style>
    body {
        color: #cad3f5;
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0%;
    }
    .background {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-size: max(20px, 1vw);
        font-family: Verdana, Geneva, Tahoma, sans-serif;  
    }
    .title {
        height: 14.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #24273a;
        border-bottom: 0.5vh solid #181926;
    }
    h1 {
        background: rgb(198,160,246);
        background: linear-gradient(90deg, rgb(199, 160, 246) 0%, rgb(237,135,150) 50%, rgb(238,212,159) 100%);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        background-color: text;
    }
    .content {
        display: flex;
        height: 85%;
        width: 100%;
    }
    .sidebar {
        flex-flow: column wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 15%;
        background-color: #1e2030;
    }
    .sidebar-element {
        padding-top: 30%;
        padding-bottom: 30%;
    }
    p {
        margin: 0px;
    }
</style>