---

---

<div class="background">
    <div class="title"><h1>TheScheduler</h1></div>
    <div class="sidebar">
        <p class="sidebar-element">Lernbüros</p>
        <p class="sidebar-element">Fehler</p>
        <p class="sidebar-element">Kontakt</p>
    </div>
</div>

<style>
    body {
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0%;
    }
    .background {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;  
    }
    .title {
        height: 15%;
        display: flex;
        justify-content: center;
        background-color: green;
    }
    .sidebar {
        flex-flow: column wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 85%;
        width: 15%;
        background-color: red;
    }
    .sidebar-element {
        padding-top: 30%;
        padding-bottom: 30%;
    }
    p {
        margin: 0px;
    }
</style>