---
import LoginBox from "../components/LoginBox.astro";
import ModalButton from "../components/ModalButton.astro";
import LoginLayout from "../layouts/LoginLayout.astro";
---

<LoginLayout title="Login">
  <div id="login-page">
    <LoginBox></LoginBox>
    <ModalButton id="submit">Login</ModalButton>
  </div>
</LoginLayout>
