---
export interface Props {
  title: string
}

const {title} = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <slot />
  </body>
</html>
