---
import Sidebar from '../components/Sidebar.astro';
import Plan from '../components/Plan.jsx';
export interface Props {
  title: string
}

const {title} = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>{title}</title>
  </head>
  <body>
    <Sidebar>
      <slot />
    </Sidebar>
  </body>
</html>
