---
import "@fontsource/inter";
import "@fontsource/inter/700.css";
const { fontSize = "2.5vh" }  = Astro.props
---

<button>
    <slot />  
</button>

<style lang="scss" define:vars={{fontSize}}>
    button {
        color:#b8c0e0;
        background-color: transparent;
        padding: 7.5%;
        font-size: clamp(10px, var(--fontSize), 25px);
        outline: none;
        border: 2px solid #5974e2;
        border-radius: 10px;
        white-space: nowrap;
        font-family: Inter, sans-serif;

        &:hover {
            background-color: #5974e2;
        }
        &:active {
            transform: translateY(2px);
        }
    }
</style>